#!substdef "!MY_IP_ADDR!5.39.220.42!g"
#!substdef "!LOCAL_PBX_ADDR!10.75.0.23!g"
#!substdef "!OPENVPN_ADDR!192.168.194.132!g"
#!define PINGER "pinger@5.39.220.42"
#!define DBURL "postgres://kamailio:kamailiorw@localhost:5432/kamailio"
#!define SQLOPSDB "ca=>postgres://kamailio:kamailiorw@localhost:5432/kamailio"
#!define MAXEXPIRES 300
#!define FLT_ACC 1
#!define FLT_ACCMISSED 2
#!define FLT_ACCFAILED 3
#!define TO_CLIENT 2
#!define HOSTNAME "sip:79268530630@5.39.220.42"
#!define DISPATCHERS_NODES 1
#!define FLAG_INTERNALLY_SOURCED  1
#!define FLAG_TO_CARRIER 2
#!define GATEWAYS 1
#!subst "/ASTERISK/kamailio/"
